.task-wrapper {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 5px;
    background: white;
    margin-bottom: 10px;
}

.task-wrapper button {
    padding: 5px 10px;
    border: none;
    margin-left: 5px;
}

.task-wrapper input {
    margin: auto 5px;
}

input[type=checkbox] {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.task-wrapper button:hover {
    background: ivory;
}

.task-wrapper button:active {
    background: peachpuff;
}

.message {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.btns {
    margin-left: 10px;
    margin-bottom: 5px;
    display: flex;
    float: right;
    padding: 5px;
    background: gainsboro;
}
.task-completed{
    background: mistyrose;
}
.task-completed .message{
    text-decoration: line-through;
}

